$navHeaderBackground: #ffe600;
$navHeaderSearchBtnColor: #EBECEE;
$backgroundGray: #EDEDED;
$buyButtonBackground: #3483fa;
$buyButtonColor: #ffff;
$productDetailContainerBackground: #ffff;

html {
  margin: 0;
  padding: 0;
}
